server:
    port: 8080

spring:
    datasource:
        name: scsee
        url: jdbc:mysql://localhost:3306/scsee
        username: root
        password: root
        # 使用druid数据源
        type: com.alibaba.druid.pool.DruidDataSource
        driver-class-name: com.mysql.jdbc.Driver

mybatis:
  mapper-locations: classpath:mapping/*.xml
  type-aliases-package: com.scuse.entity
