<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.scuse.mapper.PaperTrackMapper" >
  <resultMap id="BaseResultMap" type="com.scuse.entity.PaperTrack" >
    <result column="paper_id" property="paperId" jdbcType="INTEGER" />
    <result column="enter_time" property="enterTime" jdbcType="DATE" />
    <result column="out_time" property="outTime" jdbcType="DATE" />
    <result column="back_time" property="backTime" jdbcType="DATE" />
    <result column="admin_id" property="adminId" jdbcType="INTEGER" />
  </resultMap>
  <insert id="insert" parameterType="com.scuse.entity.PaperTrack" >
    insert into PaperTrack (paper_id, enter_time, out_time, 
      back_time, admin_id)
    values (#{paperId,jdbcType=INTEGER}, #{enterTime,jdbcType=DATE}, #{outTime,jdbcType=DATE}, 
      #{backTime,jdbcType=DATE}, #{adminId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.scuse.entity.PaperTrack" >
    insert into PaperTrack
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="paperId != null" >
        paper_id,
      </if>
      <if test="enterTime != null" >
        enter_time,
      </if>
      <if test="outTime != null" >
        out_time,
      </if>
      <if test="backTime != null" >
        back_time,
      </if>
      <if test="adminId != null" >
        admin_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="paperId != null" >
        #{paperId,jdbcType=INTEGER},
      </if>
      <if test="enterTime != null" >
        #{enterTime,jdbcType=DATE},
      </if>
      <if test="outTime != null" >
        #{outTime,jdbcType=DATE},
      </if>
      <if test="backTime != null" >
        #{backTime,jdbcType=DATE},
      </if>
      <if test="adminId != null" >
        #{adminId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>