<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.scuse.mapper.PlanMapper" >
  <resultMap id="BaseResultMap" type="com.scuse.entity.Plan" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="mjr_id" property="mjrId" jdbcType="INTEGER" />
    <result column="crs_id" property="crsId" jdbcType="INTEGER" />
    <result column="bat_id" property="batId" jdbcType="INTEGER" />
    <result column="exam_time" property="examTime" jdbcType="TIMESTAMP" />
    <result column="hours" property="hours" jdbcType="REAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, mjr_id, crs_id, bat_id, exam_time, hours
  </sql>
  <select id="getAll" resultMap="BaseResultMap">
    SELECT *
    FROM Plan;
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from Plan
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from Plan
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.scuse.entity.Plan" >
    insert into Plan (id, mjr_id, crs_id, 
      bat_id, exam_time, hours
      )
    values (#{id,jdbcType=INTEGER}, #{mjrId,jdbcType=INTEGER}, #{crsId,jdbcType=INTEGER}, 
      #{batId,jdbcType=INTEGER}, #{examTime,jdbcType=TIMESTAMP}, #{hours,jdbcType=REAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.scuse.entity.Plan" >
    insert into Plan
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="mjrId != null" >
        mjr_id,
      </if>
      <if test="crsId != null" >
        crs_id,
      </if>
      <if test="batId != null" >
        bat_id,
      </if>
      <if test="examTime != null" >
        exam_time,
      </if>
      <if test="hours != null" >
        hours,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="mjrId != null" >
        #{mjrId,jdbcType=INTEGER},
      </if>
      <if test="crsId != null" >
        #{crsId,jdbcType=INTEGER},
      </if>
      <if test="batId != null" >
        #{batId,jdbcType=INTEGER},
      </if>
      <if test="examTime != null" >
        #{examTime,jdbcType=TIMESTAMP},
      </if>
      <if test="hours != null" >
        #{hours,jdbcType=REAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.scuse.entity.Plan" >
    update Plan
    <set >
      <if test="mjrId != null" >
        mjr_id = #{mjrId,jdbcType=INTEGER},
      </if>
      <if test="crsId != null" >
        crs_id = #{crsId,jdbcType=INTEGER},
      </if>
      <if test="batId != null" >
        bat_id = #{batId,jdbcType=INTEGER},
      </if>
      <if test="examTime != null" >
        exam_time = #{examTime,jdbcType=TIMESTAMP},
      </if>
      <if test="hours != null" >
        hours = #{hours,jdbcType=REAL},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.scuse.entity.Plan" >
    update Plan
    set mjr_id = #{mjrId,jdbcType=INTEGER},
      crs_id = #{crsId,jdbcType=INTEGER},
      bat_id = #{batId,jdbcType=INTEGER},
      exam_time = #{examTime,jdbcType=TIMESTAMP},
      hours = #{hours,jdbcType=REAL}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>