<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.scuse.mapper.ReviewMapper" >
  <resultMap id="BaseResultMap" type="com.scuse.entity.Review" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="INTEGER" />
  </resultMap>
  <insert id="insert" parameterType="com.scuse.entity.Review" >
    insert into Review (id, type)
    values (#{id,jdbcType=INTEGER}, #{type,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.scuse.entity.Review" >
    insert into Review
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="type != null" >
        type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="selectType" parameterType="com.scuse.entity.Review" resultMap="BaseResultMap">
    select id,type from review where id=#{id,jdbcType=INTEGER} and type=#{type,jdbcType=INTEGER}
  </select>
  <delete id="delete" parameterType="com.scuse.entity.Review">
    delete from review
    WHERE id = #{id,jdbcType=INTEGER} AND type=#{type,jdbcType=INTEGER}
  </delete>
</mapper>